
<form [formGroup]="form">
  <div class = "form-group">
    <label for="oldPassword">Old Password</label>
    <input 
      type="text"
      class="form-control" 
      formControlName="oldPassword"
    />
    <div *ngIf="oldPassword.pending">Checking password...</div>
    <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
      <div *ngIf="oldPassword.errors.required">You must enter your old password</div>
      <div *ngIf="oldPassword.errors.validateOldPassword">The password you have entered is incorrect</div>
    </div>
    <label for="newPassword">New Password</label>
    <input 
      type="text"
      class="form-control" 
      formControlName="newPassword"
    />
    <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">
      <div *ngIf="newPassword.errors.required">You must enter the new password</div>
    </div>
    <label for="confirmPassword">Confirm Password</label>
    <input 
      type="text"
      class="form-control" 
      formControlName="confirmPassword"
    />
    <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
      <div *ngIf="confirmPassword.errors.required">You must confirm the new password</div>
    </div>
    <div *ngIf="confirmPassword.valid && form.invalid && form.errors.passwordsDoNotMatch">The confirmation does not match the new password</div>
  </div>
  <button class="btn btn-primary" type="submit">Change Password</button>
</form>